.toolBanner img {
  width: 100%;
  max-height: 220px;
  object-fit: cover;
  border-bottom: 3px solid #333;
  filter: brightness(0.9);
}

.container {
  background: rgba(15, 23, 42, 0.95);
  background-image: url("../assets/dark.avif");
  background-size: cover;
  background-repeat: repeat;
  background-blend-mode: overlay;

  padding: 2rem;
  margin: 2rem auto;
  max-width: 700px;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
  text-align: center;
  color: white;
  backdrop-filter: blur(2px);
}

.title {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  color: white;
}

.input {
  width: 100%;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  border: 1px solid #555;
  border-radius: 8px;
  background-color: #111;
  color: white;
  margin-bottom: 1rem;
}

.button {
  background-color: #5995fd;
  color: white;
  border: none;
  padding: 0.75rem 1.2rem;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #4d84e2;
}

.button:disabled {
  background-color: #444;
  cursor: not-allowed;
}

.error {
  color: red;
  margin-top: 1rem;
  font-weight: bold;
}

.linkBox {
  background: #111;
  padding: 1rem;
  border-radius: 8px;
  margin-top: 1.5rem;
  border: 1px solid #333;
  color: white;
  word-break: break-word;
}

.linkBox a {
  color: #61dafb;
  font-weight: bold;
  word-break: break-word;
}

.subtitle {
  margin-top: 2rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.tableWrapper {
  margin-top: 1rem;
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
  background-color: #0f172a;
  border-radius: 10px;
  overflow: hidden;
  font-size: 0.9rem;
}

.table th,
.table td {
  padding: 0.7rem 1rem;
  border-bottom: 1px solid #333;
  text-align: left;
  color: white;
}

.table th {
  background-color: #1e293b;
  color: #ddd;
}

.table tr:hover {
  background-color: #1a1f2e;
}
